	<!DOCTYPE html>
	<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles/iphone.css">	
	    <!-- Bring in the socket.io client -->
	    <script type="text/javascript" src="/js/socket.io.js"></script>
	    <!-- then beef it up with some convenience logic for talking to Sails.js -->
	    <script type="text/javascript" src="/js/sails.io.js"></script>
	    <!-- listen on socket.io for incoming messages -->
	    <script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
		
		<script type="text/javascript">
			socket.on('message', function(msg){
				//var timestamp = msg.data.createdAt.replace(/-/g, "/").replace(/[TZ]/g, " ");
				//var gmt = new Date(timestamp.split(".")[0].replace(/-/g,"/"));
				//var local = new Date(gmt.getTime() - (gmt.getTimezoneOffset() * 60000));

				//var t = DateHelper.formatDate(localDate, "hh:mm:ss");
				//var t = local.getHours()+":"+local.getMinutes()+":"local.getSeconds();
				//alert(t);
				$('#temp').html(msg.data.value.toFixed(1) + '°C');
				$('#time').html(msg.data.createdAt);
			});
			socket.get('/sample/subscribe', function(res) {});
		</script>
	</head>
	<body>
		<div class="block" style="height: 320px;">
		    <div class="centered">
		        <div id="temp"><%= temp %>°C</div>
		        <div id="time"><%= time %></div>
		    </div>
		</div>
	</body>
	</html>
