	<!DOCTYPE html>
	<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles/iphone.css">	
	    <!-- Bring in the socket.io client -->
	    <script type="text/javascript" src="/js/socket.io.js"></script>
	    <!-- then beef it up with some convenience logic for talking to Sails.js -->
	    <script type="text/javascript" src="/js/sails.io.js"></script>
	    <!-- listen on socket.io for incoming messages -->
	    <script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/js/jquery.sparkline.min.js"></script>
		
		<script type="text/javascript">
			socket.on('message', function(msg){
				//alert(JSON.stringify(msg));
				$('#temp').html(msg.data.value.toFixed(1) + '°C');
				$('#time').html(msg.data.createdAt);				
			});
			socket.on('graphdata', function(data){
				//alert(JSON.stringify(data.values));
				$('#sparkline').sparkline(data.values, {width:150, height:30, lineColor:'#ccf', fillColor:'#ddf', spotColor:'', minSpotColor:'', maxSpotColor:''});
			});
			socket.get('/sample/subscribe', function(res) {});
		</script>
	</head>
	<body>
		<div class="block" style="height: 320px;">
		    <div class="centered">
		        <div id="temp"><%= temp %>°C</div>
		        <div id="time"><%= time %></div>
		        <div id="sparkline"></div>
		    </div>
		</div>
	</body>
	</html>
